
// ======================================================================================

// variables css

// ======================================================================================

// media-query
$device-mobile: 320px;
$device-tablet: 768px;
$device-desktop: 1024px;



$lgray : #D9D5D2;
$gray : #BFB7B0;
$dgray : #73706C;
$black : #111111;

// ======================================================================================

// extend / Helper css

// ======================================================================================

.c_r{
    color: $red !important;
    text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white, -2px -2px 0 $black, 2px -2px 0 $black, -2px 2px 0 $black, 2px 2px 0 $black;  
}
.c_b{
    color: $black !important;
}
.c_w{
    color: $white !important;
    text-shadow: -1px -1px 0 $red, 1px -1px 0 $red, -1px 1px 0 $red, 1px 1px 0 $red, -2px -2px 0 $black, 2px -2px 0 $black, -2px 2px 0 $black, 2px 2px 0 $black;  
}
.c_pr{
  color: $red !important;
}
.c_pw{
  color: $white !important;
}
.fw_5{
    font-weight: 500 !important;
}
.fw_6{
    font-weight: 600 !important;
}
.fw_b{
    font-weight: bold !important;
}
.fs_10{
    font-size: 1.0rem !important;
    line-height: 1.5rem !important;
}
.fs_12{
    font-size: 1.2rem !important;
    line-height: 1.8rem !important;
}
.fs_14{
    font-size: 1.4rem !important;
    line-height: 2.1rem !important;
}
.fs_16{
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
}
.fs_18{
    font-size: 1.8rem !important;
    line-height: 2.7rem !important;
}
.fs_20{
    font-size: 2.0rem !important;
    line-height: 3.0rem !important;
}
.fs_24{
    font-size: 2.4rem !important;
    line-height: 3.6rem !important;
}
.fs_36{
    font-size: 3.6rem !important;
    line-height: 5.4rem !important;
}
.fs_48{
    font-size: 4.8rem !important;
    line-height: 6.0rem !important;
}
.ta_c{
    text-align: center !important;
}
.ta_l{
    text-align: left !important;
}
.ta_r{
    text-align: right !important;
}
.d_b{
    display: block !important;
}
.d_n{
    display: none !important;
}
.d_ib{
    display: inline-block !important;
}
.d_i{
    display: inline !important;
}
.d_f{
    display: flex !important;
}
.fd_c{
    flex-direction: column !important;
}
.fd_r{
    flex-direction: row !important;
}
.jc_c{
    justify-content: center;
}
.jc_sa{
    justify-content: space-around !important;
}
.jc_sb{
    justify-content: space-between !important;
}
.ai_c{
    align-items: center !important;
}
.f_l{
  float: left !important;
}
.f_r{
  float: right !important;
}
.c_b{
  clear: both !important;
}
.o_h{
  overflow: hidden !important;
}
.o_a{
  overflow: auto !important;
}
.o_s{
  overflow: scroll !important;
}
.w_50{
    width: 50% !important;
}
.w_100{
    width: 100% !important;
}
.h_100{
    height: 100% !important;
}
.mt_10{
    margin-top: 1rem !important;
}
.mt_20{
    margin-top: 2rem !important;
}
.mt_30{
  margin-top: 3rem !important;
}
.mt_50{
  margin-top: 5rem !important;
}
.mt_120{
  margin-top: 12rem !important;
}
.mb_0{
margin-bottom: 0px !important;
}
.pt_10{
    padding-top: 1rem !important;
}
.pt_20{
    padding-top: 2rem !important;
}
.p_a{
    position: absolute !important;
}
.p_r{
    position: relative !important;
}
.tl_y{
    top: 50%;
    transform: translateY(-50%);
}
.tl_x{
    left: 50%;
    transform: translateX(-50%);
}
.tl_xy{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg_w{
    background: $white;
}
.bg_r{
    background: $red;
}
.bg_b{
    background: $black;
}
.bg_g{
    background: $dgray;
}


// ======================================================================================

// mixin css

// ======================================================================================


@mixin isIR(){
  text-indent: -9999rem;;
  color: transparent;
  overflow: hidden;
}

@mixin isCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@mixin isVh(){
    margin-top: 185px;
    min-height: calc(100vh - 185px);
}

@mixin isImagin(){
    content: '';
    display: block;
    position: absolute;
}