.c_r, .tit_h3 {
  color: #e1262a !important;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -2px -2px 0 #232323, 2px -2px 0 #232323, -2px 2px 0 #232323, 2px 2px 0 #232323;
}

.c_b {
  color: #232323 !important;
}

.c_w, .tit_h2 {
  color: #ffffff !important;
  text-shadow: -1px -1px 0 #e1262a, 1px -1px 0 #e1262a, -1px 1px 0 #e1262a, 1px 1px 0 #e1262a, -2px -2px 0 #232323, 2px -2px 0 #232323, -2px 2px 0 #232323, 2px 2px 0 #232323;
}

.c_pr {
  color: #e1262a !important;
}

.c_pw {
  color: #ffffff !important;
}

.fw_5 {
  font-weight: 500 !important;
}

.fw_6 {
  font-weight: 600 !important;
}

.fw_b {
  font-weight: bold !important;
}

.fs_10 {
  font-size: 1.0rem !important;
  line-height: 1.5rem !important;
}

.fs_12 {
  font-size: 1.2rem !important;
  line-height: 1.8rem !important;
}

.fs_14 {
  font-size: 1.4rem !important;
  line-height: 2.1rem !important;
}

.fs_16 {
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
}

.fs_18 {
  font-size: 1.8rem !important;
  line-height: 2.7rem !important;
}

.fs_20 {
  font-size: 2.0rem !important;
  line-height: 3.0rem !important;
}

.fs_24, .tit_h3 {
  font-size: 2.4rem !important;
  line-height: 3.6rem !important;
}

.fs_36, .tit_h2 {
  font-size: 3.6rem !important;
  line-height: 5.4rem !important;
}

.fs_48 {
  font-size: 4.8rem !important;
  line-height: 6.0rem !important;
}

.ta_c {
  text-align: center !important;
}

.ta_l {
  text-align: left !important;
}

.ta_r {
  text-align: right !important;
}

.d_b {
  display: block !important;
}

.d_n {
  display: none !important;
}

.d_ib {
  display: inline-block !important;
}

.d_i {
  display: inline !important;
}

.d_f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.fd_c {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.fd_r {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.jc_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc_sa {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.jc_sb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.ai_c {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.f_l {
  float: left !important;
}

.f_r {
  float: right !important;
}

.c_b {
  clear: both !important;
}

.o_h {
  overflow: hidden !important;
}

.o_a {
  overflow: auto !important;
}

.o_s {
  overflow: scroll !important;
}

.w_50 {
  width: 50% !important;
}

.w_100 {
  width: 100% !important;
}

.h_100 {
  height: 100% !important;
}

.mt_10 {
  margin-top: 1rem !important;
}

.mt_20 {
  margin-top: 2rem !important;
}

.mt_30 {
  margin-top: 3rem !important;
}

.mt_50 {
  margin-top: 5rem !important;
}

.mt_120, .second_cont {
  margin-top: 12rem !important;
}

.mb_0 {
  margin-bottom: 0px !important;
}

.pt_10 {
  padding-top: 1rem !important;
}

.pt_20 {
  padding-top: 2rem !important;
}

.p_a {
  position: absolute !important;
}

.p_r {
  position: relative !important;
}

.tl_y {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tl_x {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tl_xy {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg_w {
  background: #ffffff;
}

.bg_r {
  background: #e1262a;
}

.bg_b {
  background: #232323;
}

.bg_g {
  background: #272727;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  max-width: 100%;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 1.4rem;
  color: #232323;
  background: #232323;
  word-break: keep-all;
  min-height: 100vh;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

li, dd, dt {
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-filter: blur(0px) !important;
          filter: blur(0px) !important;
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  width: 100%;
  background: #e1262a;
  display: block;
  height: auto;
}

#skip-nav a {
  color: #ffffff;
  display: block;
  text-align: center;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 36px;
  font-weight: bold;
}

#skip-nav a:focus, #skip-nav a:active {
  height: auto;
}

.toc {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  left: -1px;
  text-indent: -9999rem;
  color: transparent;
}

#contents {
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #232323;
  z-index: 9999;
  height: 185px;
}

header h1 {
  position: reative;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
  text-align: center;
}

header h1 a {
  text-indent: -9999rem;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url(../images/common/logo.png) center center no-repeat;
  background-size: auto 70px;
}

nav {
  display: block;
  text-align: center;
}

nav .nav-section {
  height: auto;
  background: #e1262a;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .nav-section:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #232323;
  content: '';
  display: block;
}

nav ul.gnb {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  overflow: hidden;
}

nav ul.gnb li {
  width: 100%;
}

nav ul.gnb li a {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 50px;
}

nav ul.gnb li a:focus ~ ul, nav ul.gnb li a:active ~ ul {
  display: inherit !important;
}

nav ul.gnb li ul {
  position: relative;
  overflow: hidden;
  display: none;
  height: auto;
  background: #e1262a;
}

nav ul.gnb li ul.active {
  display: inherit;
}

nav ul.gnb li ul a {
  color: #232323;
}

nav ul.gnb li ul a:hover {
  background: rgba(255, 255, 255, 0.25);
}

nav .my {
  position: absolute;
  top: 10px;
  right: 200px;
}

nav .my ul {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .my ul li {
  width: 100%;
  padding: 10px 0;
}

nav .my ul li a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0 10px;
}

nav .my ul li:first-of-type {
  position: relative;
}

nav .my ul li:first-of-type:after {
  content: '';
  display: block;
  position: absolute;
  right: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background: #ffffff;
}

nav .my ul li:first-of-type a {
  margin-right: 10px;
}

nav .my ul li:first-of-type a strong {
  color: #e1262a;
}

nav .my ul li:first-of-type a strong:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 0;
  right: 0;
  position: absolute;
  background: #e1262a;
}

.inner {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.innerS {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.innerS.b_n {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background: transparent;
}

section {
  margin-top: 185px;
  min-height: calc(100vh - 185px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
}

section.blur {
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

section article {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  display: block;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
}

section article.scrollDown {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
}

footer {
  margin-top: 20px;
  position: relative;
  background: #111111;
  overflow: hidden;
  display: block;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4rem;
}

footer h2 {
  text-indent: -9999rem;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  width: 120px;
  height: 60px;
  background: url(../images/common/footer_logo.png) center center no-repeat;
  background-size: auto 60px;
}

footer .quick_sns ul {
  padding: 20px 0;
  border: 2px solid #ffffff;
  border-width: 2px 0 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .quick_sns ul li:nth-of-type(1) a {
  background: url(../images/common/footer_sns.png) center center no-repeat;
  background-size: auto 40px;
  background-position: 0 0;
}

footer .quick_sns ul li:nth-of-type(2) a {
  background: url(../images/common/footer_sns.png) center center no-repeat;
  background-size: auto 40px;
  background-position: -40px 0;
}

footer .quick_sns ul li:nth-of-type(3) a {
  background: url(../images/common/footer_sns.png) center center no-repeat;
  background-size: auto 40px;
  background-position: -80px 0;
}

footer .quick_sns ul li:nth-of-type(4) a {
  background: url(../images/common/footer_sns.png) center center no-repeat;
  background-size: auto 40px;
  background-position: -120px 0;
}

footer .quick_sns ul li a {
  text-indent: -9999rem;
  color: transparent;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: block;
}

.btn_el {
  display: block;
  margin-top: 2.4rem;
}

.btn_el .button {
  padding: 1rem 2rem;
  background: #e1262a;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
}

.btn_el .button.line {
  background: transparent;
  color: #e1262a;
  border: 2px solid #e1262a;
}

.btn_el .button.block {
  padding: 1rem 0;
  width: 100%;
  line-height: 54px;
  display: block;
}

.input {
  position: relative;
  margin-top: 10px;
}

.input input[type="text"], .input input[type="password"] {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 15px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.input input[type="text"]:required, .input input[type="text"]:invalid, .input input[type="password"]:required, .input input[type="password"]:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input input[type="text"]::-webkit-input-placeholder, .input input[type="password"]::-webkit-input-placeholder {
  color: transparent;
}

.input input[type="text"]:-ms-input-placeholder, .input input[type="password"]:-ms-input-placeholder {
  color: transparent;
}

.input input[type="text"]::-ms-input-placeholder, .input input[type="password"]::-ms-input-placeholder {
  color: transparent;
}

.input input[type="text"]::placeholder, .input input[type="password"]::placeholder {
  color: transparent;
}

.input input[type="text"]:placeholder-shown ~ label, .input input[type="password"]:placeholder-shown ~ label {
  font-size: 1.8rem;
  cursor: text;
  top: 10px;
}

.input input[type="text"]:focus ~ label, .input input[type="password"]:focus ~ label {
  position: absolute;
  top: -10px;
  left: 0px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.4rem;
}

.input label {
  position: absolute;
  top: 10px;
  left: 0px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.4rem;
  color: #ffffff;
}

.accordion-list {
  position: relative;
  display: block;
  overflow: hidden;
  border-bottom: 3px solid #666666;
}

.accordion-list button {
  display: block;
  position: relative;
  color: #ffffff;
  width: 100%;
}

.accordion-list button.active {
  color: #e1262a;
}

.accordion-list button.active:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  background: #e1262a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion-list button.active ~ .accordion-panel {
  display: block;
}

.accordion-list button:before {
  position: absolute;
  right: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 3px;
  background: #666666;
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion-list button:after {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 30px;
  background: #666666;
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion-list button .accordion-title {
  padding: 30px 20px;
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
}

.accordion-list .accordion-panel {
  display: none;
  padding: 20px;
  font-size: 1.6rem;
}

.horizon_pagination {
  position: absolute;
  bottom: 10% !important;
  display: block;
  overflow: hidden;
}

.swiper-pagination .swiper-pagination-bullet {
  border: 2px solid #fff;
  -webkit-transform: 0.3s;
          transform: 0.3s;
  margin: 0 10px;
}

.horizon_pagination .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 7px;
  border-color: #e1262a;
  -webkit-box-shadow: 0px 0px 5px #e1262a;
          box-shadow: 0px 0px 5px #e1262a;
}

.vertical_pagination .swiper-pagination-bullet-active {
  height: 30px;
  border-radius: 7px;
  border-color: #e1262a;
  -webkit-box-shadow: 0px 0px 5px #e1262a;
          box-shadow: 0px 0px 5px #e1262a;
}

.arrow_prev, .arrow_next {
  text-indent: -9999rem;
  color: transparent;
  overflow: hidden;
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 3;
  top: 50%;
  -webkit-transform: trnaslate(-50%, -50%);
          transform: trnaslate(-50%, -50%);
  margin-top: -35px;
  background: url(../images/icon/arrow.png) no-repeat;
  background-size: 70px auto;
  display: inline-block;
}

.arrow_next {
  right: 10%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.arrow_prev {
  left: 10%;
}

.action-shutter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
  background: #ffffff;
  -webkit-animation-name: shutterAni;
          animation-name: shutterAni;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes shutterAni {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shutterAni {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.action-focus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: block;
  position: fixed;
  width: 400px;
  height: 400px;
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-animation-name: focusing_ani;
          animation-name: focusing_ani;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.action-focus:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border: 4px solid #e1262a;
  border-width: 0 4px 4px 0;
  -webkit-animation-name: focusing_border;
          animation-name: focusing_border;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.action-focus:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border: 4px solid #e1262a;
  border-width: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: focusing_border;
          animation-name: focusing_border;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes focusing_ani {
  0% {
    width: 400px;
    height: 400px;
  }
  25% {
    width: 400px;
    height: 400px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  75% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@keyframes focusing_ani {
  0% {
    width: 400px;
    height: 400px;
  }
  25% {
    width: 400px;
    height: 400px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  75% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@-webkit-keyframes focusing_border {
  0% {
    border-color: #e1262a;
  }
  25% {
    border-color: #e1262a;
  }
  50% {
    border-color: #e1262a;
    opacity: 1;
  }
  75% {
    border-color: #ffffff;
    opacity: 0;
  }
  100% {
    border-color: #ffffff;
    opacity: 1;
  }
}

@keyframes focusing_border {
  0% {
    border-color: #e1262a;
  }
  25% {
    border-color: #e1262a;
  }
  50% {
    border-color: #e1262a;
    opacity: 1;
  }
  75% {
    border-color: #ffffff;
    opacity: 0;
  }
  100% {
    border-color: #ffffff;
    opacity: 1;
  }
}
/*# sourceMappingURL=common.css.map */